<div class='mx-auto'>
    <%= image_tag 'Vector 32.svg', alt: 'Cloud', class: 'absolute top-20 left-40' %>
    <%= image_tag 'Vector 35.svg', alt: 'Cloud', class: 'absolute top-60 left-[4rem] w-[20%] hidden md:block ' %>

    <%= image_tag 'Vector 33.svg', alt: 'Cloud', class: 'absolute top-5 left-80 w-[5%]' %>
    <%= image_tag 'Vector 39.svg', alt: 'Cloud', class: 'absolute top-10 right-80 w-[5%]' %>
    <%= image_tag 'Vector 36.svg', alt: 'Cloud', class: 'absolute top-60 right-20 w-[20%] ' %>

    <%= image_tag 'Vector 37.svg', alt: 'Cloud', class: 'absolute top-20 right-40 hidden md:block'  %>
    <%= image_tag 'Vector 38.svg', alt: 'Cloud', class: 'absolute top-80 right-0  w-[5%]' %>

    <%= image_tag 'Vector 34.svg', alt: 'Cloud', class: 'absolute bottom-60 left-0 w-[5%] md:hidden block' %>
    <%= image_tag 'Vector 32.svg', alt: 'Cloud', class: 'absolute bottom-80 left-40 md:hidden block' %>



</div>